<div class="main-wrapper">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Climate</th>
      <th>Terrain</th>
      <th>Diameter</th>
      <th>Gravity</th>
    </tr>
    <tr *ngFor="let item of planetsList">
      <td>{{item.name}}</td>
      <td>{{item.climate}}</td>
      <td>{{item.terrain}}</td>
      <td>{{item.diameter}}</td>
      <td>{{item.gravity}}</td>
    </tr>
  </table>
  <div class="pagination">
    <button *ngIf="previous" class="pagination__previous" (click)="changePage('previous')">Previous page</button>
    <button *ngIf="next" class="pagination__next" (click)="changePage('next')">Next page</button>
  </div>
</div>
